.circle {
    width: 300px;
    height: 300px;
    background-color: magenta;
    /* 요소가 변하는 데 걸리는 시간 */
    /* transition: 1s; */
    /* background-color 3s 식으로 적으면 배경색에 한해서 변함 :: all은 모든 요소 */
    /* 1s 1s 식으로 적으면 대기시간 → 전환시간 각각 적용됨 */
    /* background-color 1s, border-radius 2s 식으로도 적용 가능 */
    transition: background-color 1s, border-radius 2s;

    /* 전부 50%면 완벽하게 동그란 원 */
    /* border-radius: 50%; */
}

.circle:hover {
    background-color: cyan;
    border-radius: 50%;
}

h1 {
    background-color: magenta;
    width: 25%;
    text-align: center;
    padding: 1em;
    color: white;
    /* transition-timing-function: linear(일관) ease-in(끝으로 갈수록 빨라짐?) steps(일관적이지만 뚝뚝 끊어짐) cubic-bezier(앞뒤로 움직이는 듯한 변화) */
    transition: background-color 1s ease-in-out, width 1s ease-in-out 1s;
    /* transition: background-color 1s ease-in (대기시간, default 0s) */
}

h1:hover {
    width: 50%;
    background-color: cyan;
}

section div {
    height: 100px;
    width: 100px;
    background-color: turquoise;
    margin: 20px 0;
    /* transition 시간 단위는 s 혹은 ms로 주는 게 가능 */
    transition: margin-left 3s;
}

section:hover div {
    margin-left: 500px;
}

div:nth-of-type(1) {
    /* 시작이 느리고 끝날 때쯤 빨라짐 */
    transition-timing-function: ease-in;
}

div:nth-of-type(2) {
    /* 시작이 빠르고 끝날 때쯤 느려짐 */
    transition-timing-function: ease-out;
}

/* easings.net 참고 */

div:nth-of-type(3) {
    transition-timing-function: cubic-bezier(0.7, 0, 0.84, 0);
}

div:nth-of-type(4) {
    transition-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
}