img {
    width: 30%;
    /* 이미지 width 제외하고 남은 width(비율)을 '고르게' 분배하려면 계산을 해야 한다 */
    /* 100 - (30 * 3) = 10이니까 10%를 본배하는데 여기서는 한 줄에 사진 3개로 고르게 분배하고 싶어 함. 10%를 4개로 나누면 2.5? */
    /* <<조심>> 4면에 다 적용된다는 점을 고려하면 4가 아니라 6 */
    /* margin: 1.6666%; */
    /* 10/6 = 1.666...인데 1.67이라고 걍 반올림해서 적어버리면 이미지 한 줄에 2개씩 들어가게 됨. 소수점 은근히 중요하니까 조심 */
    margin: calc(10%/6);
    /* 키치한데? */
    /*
    calc() 함수를 css 계산하는 것 외에도 봤다고 생각했는데 없었음... 기본적으로 css에서만 사용되는 거고,
    javascript로 사용될 때도 css 속성을 지정하는 용도로 사용이 됨
    element.style.width = 'calc(100% - 20px)'; 식으로 계산식을 일일이 적어야 함...
    */
}

nav {
    /* text 내용 굳이 안 바꿔도 죄다 대문자화할 수 있음 */
    text-transform: uppercase;
    /* nav 영역 나타내는 있어보이는 한 줄 */
    border-bottom: 2px solid #f1f1f1;
    /* 이미지 width 따라가기 */
    width: 30%;
    /* 이미지 여백도 따라가기 */
    margin: calc(10%/6);
    /* 상하 20 좌우 0 */
    /* padding: 20px 0; */
    /* padding을 절대값 대신 비율로 설정하면 좋은 점? -> 글꼴 크기가 늘어나면 패딩도 자연스럽게 커짐  */
    padding: 1.2em 0;
    /* 글꼴은 마무리로 설정? */
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    /* 이미지와는 달리, 글꼴은 비율이 달라져도 '계속 보여야 하는' 점을 염두에 두어야 함 */
    font-size: 1.5em;
}